<div class="content-main" *ngIf="startPage">
  <div>
    <button class="button" (click)="onNewBlog()">New Blog</button>
  </div>
  <div>
    <button class="button" (click)="onUpdateBlog()">Update Blog</button>
  </div>
  <div>
    <button class="button" (click)="onNewEvent()">New Event</button>
  </div>
  <div>
    <button class="button" (click)="onUpdateEvent()">Update Event</button>
    <div class="form-group">
      <label class="pin-label">Pin</label>
      <input [(ngModel)]="pin" name="pin" type="password" class="pin" placeholder="0000">
    </div>
  </div>

</div>
<div *ngIf="!startPage">
  <div *ngIf="newBlog">
    <app-new-blog></app-new-blog>
  </div>
  <div *ngIf="updateBlog">
    <app-update-blog></app-update-blog>
  </div>
  <div *ngIf="newEvent">
    <app-new-event></app-new-event>
  </div>
  <div *ngIf="updateEvent">
    <app-update-event></app-update-event>
  </div>
  <button (click)="onBack()">Back</button>
</div>