<div class="container">
  <div *ngIf="preview">
    <h1>
      Preview Your Blog!
    </h1>
    <h1>
      {{_post.title}}
    </h1>
    <p>
      {{_post.description}}
    </p>
    <div>
      <button (click) = "onDone()">Done!</button>
    </div>
  </div>
  <div *ngIf="done">
    <h1>Add a new Blog</h1>
      <div>
        <label>Title</label>
      </div>
      <div>
        <input [(ngModel)]="_post.title">
      </div>
      <div>
        <label>Description</label>
      </div>
      <div class="text-area">
      <textarea  [(ngModel)]="_post.description"n class="text-area" rows="10">{{description}}</textarea>
      </div>
      <div>
        <button (click)="onBold(textArea)">Bold</button>
      </div>
      <button (click)="onPreview()">Preview</button>
      <button (click)="onSubmit()">Submit</button>
      <label>Pin:</label>
      <input [(ngModel)]="pin">
      <label *ngIf="pinWrong" class="text-danger">Wrong Pin</label>
  </div>
 

</div>
 
