<div class="event-header">
  <div>
    <span class="title-header">
      Events
    </span>
  </div>
  <div>
    <ul class="grid-wrapper">
      <li class="card" *ngFor="let event of events">
        <a routerLink="/Events/{{event.id}}" routerLinkActive="active">
          <div>
              <span class="title-text">
                {{event.title}}
              </span>
          </div>
          <div>
            <span>
              {{ event.eventDate | date : format : timezone}} 
            </span>
          </div> 
        </a>
      </li>
    </ul>
  </div>  
</div>


 
