<div *ngIf="event" style="margin-top:15px;">
  <div class="grid-wrapper">
    <div class="event-divider">
        <div>
          <span class="event-title">{{event.title}}</span>
        </div>
        <div>
          <span>@{{event.location}}</span>
        </div>
        <div style="margin-top:25px;">
          <span class="event-date">{{ event.eventDate | date : format : timezone}} </span>
        </div>
        <div style="margin-top:25px">
          <p class="event-body">{{event.body}}</p>
        </div>
    </div>
    <div class="event-divider">
        <div>
          <label>Name</label>
          <input type="text" class="input">
        </div>
        <div>
          <button class="button">Going</button>
          <button class="button">Not Going</button>
          <button class="button">Maybe</button>
        </div>
        
    </div>
  </div>  
</div>
