.event-title {
    color: red;
    font-size: 30pt;
    border-bottom: 1px solid black;
    
}

.event-left {
    display: inline-block;
    width: 50%;
    margin: 0 auto 20px auto;
    text-align: center;
    
}

.event-body {
    border-bottom: 1px solid black;
    color: blue;
    padding: 5px;
}
.event-date {
    border-bottom: 1px solid black;
    color: green;
}
.event-right {
    width: 50%;
    display: inline-block;
    margin: 0 auto 20px auto;
    text-align: center;
}

.button {
    border: black;
    border-radius: 2px;
    color: white;
    background-color: black;
    margin: 5px;
}

.input {
    margin: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
}

.grid-wrapper {
    width: 100%;
    margin: 0 auto 20px auto;
    text-align: center;
}

.event-divider {
    position: relative;
    display: inline-block;
    width: 45%;
    margin: 10px;
    overflow: hidden;
    text-align: center;
}