<div *ngIf="event" style="margin-top:15px;">
  <div class="grid-wrapper">
    <div class="event-divider">
        <span class="event-title">Clock Club Initiation</span>
        <div style="margin-top:25px;">
          <span class="event-date">{{ event.eventDate | date : format : timezone}} </span>
        </div>
        <div style="margin-top:25px">
          <p class="event-body">For example, here are two grid layouts that apply to every device and viewport, from xs to xl. Add any number of unit-less classes for each breakpoint you need and every column will be the same width.</p>
        </div>
    </div>
    <div class="event-divider">
        <div>
          <label>Name</label>
          <input type="text" class="input">
        </div>
        <div>
          <button class="button">Going</button>
          <button class="button">Not Going</button>
          <button class="button">Maybe</button>
        </div>
        
    </div>
  </div>  
</div>
