.image-right {
    float: right;
    width: 100%;
    
}

.text-left {
float: left;
width: auto;
}

.image-description-together{
    display: inline;
}

.pdf-format {
    width: 100%;
    height: 500px;
}